<nav class="links fadeIn animated" style="position:relative;">
    <ul>
        <li><a title="Instagram" href="https://instagram.com/homegirl_lily"><i class="fa fa-fw fa-instagram"></i></a></li>
    </ul>
    <ul>
        <li><a title="Twitter" href="https://twitter.com/@homegirl_lily"><i class="fa fa-fw fa-twitter"></i></a></li>
    <ul>
    <ul>
        <li><a title="Pinterest" href="https://www.pinterest.com/lifestylelily"><i class="fa fa-fw fa-pinterest"></i></a></li>
    </ul>
</nav>
