{{!< default}}
<header id="header">

    <div class="header-background">
        <section class="blog-content animated fadeIn">
            <div style="height: 64px;">
                <h1 class="blog-title" style="margin: 232px 0 0 0">

                  <img alt="" data-type="image" style="width: 210px; height: 60px; object-fit: cover; margin: auto" href="{{@blog.url}}" src="/assets/images/blog_title.png">
                </h1>

            </div>

            <div style="position: relative">
              <div style="text-align: center; border-bottom: 1px dashed rgba(28, 138, 67, 1); border-top: 1px dashed rgba(28, 138, 67, 1); height: 36px;">
                  <a style="font-weight: 500; font-size: 14px" href="{{@blog.url}}">HOME</a>
                  <a style="font-weight: 500; font-size: 14px" href="/tag/about">ABOUT</a>
                  <a style="font-weight: 500; font-size: 14px" href="/tag/travel">TRAVEL</a>
                  <a style="font-weight: 500; font-size: 14px" href="/tag/career">CAREER</a>
                  <a style="font-weight: 500; font-size: 14px" href="/tag/more">More</a>
              <div>
            </div>

        </section>
        <div style="width: 100%">
          <script src="//lightwidget.com/widgets/lightwidget.js"></script>
          <iframe src="//lightwidget.com/widgets/ba92052ec1545792bb2100150191519a.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
        </div>
    </div>
    <!-- <div>   {{> links}}
    </div> -->


</header>
<main id="main" class="archive">
    {{>loop}}
</main>
