{{!< default}}
<header id="header">
    <div class="header-background">
    <section class="blog-content animated fadeIn">
        <a id="site-url" class="blog-title" style="font-weight: 500; font-size: x-large;;" href="{{@blog.url}}">{{@blog.title}}</a>
        <a class="blog-title" style="font-weight: 500; font-size: 15px" href="/tag/music">Music</a>
        <a class="blog-title" style="font-weight: 500; font-size: 15px" href="/tag/travel">Travel</a>
        <a class="blog-title" style="font-weight: 500; font-size: 15px" href="/tag/lifestyle">Style</a>
        <a class="blog-title" style="font-weight: 500; font-size: 15px" href="/tag/career">Career</a>
        <span class="blog-description">{{@blog.description}}</span>
        {{> links}}
    </section>
    </div>
</header>
<main id="main" class="archive">
    {{>loop}}
</main>
