{{!< default}}
<header id="header">
    <div class="header-background">
        <section class="blog-content animated fadeIn">
            <div style="height: 60px;">
                <h1 class="blog-title" style="margin: 10px 0 0 0">
                    <a id="site-url" class="blog-title" style="font-weight: 500; font-size: 5em; text-shadow: -2px 0 white, 0 2px white;" href="{{@blog.url}}">{{@blog.title}}</a>
                </h1>
                {{> links}}
            </div>
            <div style="padding-top:60px; left: 30%; width: 60%">
              <div style="text-align: center; border-bottom: 1px dashed rgba(28, 138, 67, 1); border-top: 1px dashed rgba(28, 138, 67, 1);">
                  <a class="blog-title" style="font-weight: 500; font-size: 24px" href="/tag/music">ABOUT</a>
                  <a class="blog-title" style="font-weight: 500; font-size: 24px" href="/tag/travel">TRAVEL</a>
                  <a class="blog-title" style="font-weight: 500; font-size: 24px" href="/tag/lifestyle">CAREER</a>
                  <a class="blog-title" style="font-weight: 500; font-size: 24px" href="/tag/career">More</a>
              <div>
            </div>

        </section>
    </div>
</header>
<main id="main" class="archive">
    {{>loop}}
    <div style="position: absolute; left: 64%; width: 34%">
        <!-- LightWidget WIDGET -->
        <script src="//lightwidget.com/widgets/lightwidget.js"></script>
        <iframe src="//lightwidget.com/widgets/7ce48f4b782652afba6a269f78d49441.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
</main>
